.image-preview{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-preview img{
    border-top: 30px solid skyblue;
    border-right: 30px solid lightpink;
    border-bottom: 30px solid lightgreen;
    border-left: 30px solid lightyellow;
}